############
## Windows
############

# Windows image file caches
Thumbs.db

# Folder config file
Desktop.ini

# Mac crap
.DS_Store

bin
build
node_modules
npm*

# Ignore configuration files
config/*

# Except empty default one
!config/default.js
