.menu {
    width: 80px;
    margin: 0;
    padding: 0;
    
    background: #BBB;
    
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.list {
    position: relative;
    margin: 10px 10px 0;
    height: 60px;
    
    display: flex;
    align-items: center;
    
    background: #AAA;
    color: #666;
    font-weight: bold;
    text-decoration: none;
}

.list.selected {
    background: #CACACA;
    color: #EEE;
}

.list:not([data-unread="0"])::after {
    content: attr(data-unread);
    position: absolute;
    top: -5px;
    right: -5px;
    
    height: 15px;
    line-height: 15px;
    min-width: 15px;
    
    padding: 3px;
    border-radius: 5px;
    
    background: #666;
    
    color: #CCC;
    text-align: center;
    font-weight: normal;
}

.list .label {
    flex: 1;
    
    text-align: center;
}

.list .emoji {
    height: 50%;
    width: 50%;
}

