.menu {
    width: 80px;
    margin: 0;
    padding: 0;
    
    background: #BBB;
    
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.list {
    position: relative;
    margin: 10px 10px 0;
    height: 60px;
    
    background: #AAA;
    display: flex;
    align-items: center;
}

.list.selected {
    background: #CACACA;
}

.list:not([data-unread="0"])::after {
    content: attr(data-unread);
    position: absolute;
    top: -5px;
    right: -5px;
    
    height: 15px;
    line-height: 15px;
    min-width: 15px;
    
    background: #666;
    color: #CCC;
    
    padding: 3px;
    border-radius: 5px;
    
    text-align: center;
}

.list .emoji {
    flex: 1;
    
    height: 50%;
    width: 50%;
}

