<li class="
        timeline
        <%= data.timeline.slug %>
        <% if(data.timeline.url === data.path) { %> pure-menu-selected<% } %>
        <% if(data.divider) { %> menu-item-divided<% } %>"
    data-id="<%= data.timeline.id %>"
>
    <a href="<%= data.timeline.url %>">
        <%= data.timeline.name %>
    </a>
</li>
