<a href="https://twitter.com/<%= data.user.screen_name %>" class="icon" data-external>
    <img class="icon" src="<%= data.user.profile_image_url %>">
</a>

<div class="timelines pure-menu pure-menu-open">
    <ul>
        <%== data._t.timelines(data) %>
    </ul>
</div>

<div class="pure-menu pure-menu-open options">
    <ul>
        <li>
            <a href="/options" class="menu-item-divided">Options</a>
        </li>
    </ul>
</div>
