<div class="user">
    <a href="https://twitter.com/<%= data.user.screen_name %>" data-external>
        <img class="icon" src="<%= data.user.profile_image_url %>">
    </a>
</div>

<ol class="timelines">
    <%== data._t.timelines(data) %>
</ol>

<div class="options">
    <a href="/options">Options</a>
</div>
