<form class="start content pure-form">
    <fieldset class="bd">
        <legend>Start Twitter Authorization</legend>
    
        <div class="pure-controls">
            <button class="launch-auth pure-button">Authorize Falco with Twitter</button>
        </div>
    </fieldset>
</form>
