<form class="pin pure-form pure-form-aligned">
    <fieldset>
        <legend>Enter the PIN provided by twitter.com</legend>
    
        <div class="pure-control-group">
            <label for="pin">Twitter PIN</label>
            <input id="pin" type="text" name="pin" placeholder="Twitter PIN" />
        </div>
        
        <div class="pure-controls">
            <button type="submit" class="pure-button">Authenticate</button>
        </div>
    </fieldset>
</form>
