<form class="pin content pure-form pure-form-stacked">
    <fieldset class="bd">
        <legend>Finish Twitter Authorization</legend>
    
        <div class="pure-control-group">
            <label for="pin">PIN provided by twitter.com</label>
            <input id="pin" type="text" name="pin" />
        </div>
        
        <div class="pure-controls">
            <button type="submit" class="pure-button">Authorize</button>
        </div>
    </fieldset>
</form>
