<% if(this.name) { %>
<h2><%= this.name %> <small><%= this.full_name %></small></h2>
<% } %>
<ol>
    <% this.tweets.forEach(function(tweet) { %>
    <li><%== this._t.tweet.apply(tweet) %></li>
    <% }); %>
</ol>
