<a href="https://twitter.com/<%= data.screen_name %>" data-external data-ui class="username">
    <strong class="real-name"><%= data.name %></strong>
    <span class="screen-name">@<%= data.screen_name %></span>
</a>
