<a href="https://twitter.com/<%= data.screen_name %>" data-external class="tweet-url name">
    <strong class="real-name"><%= data.name %></strong>
    <span class="screen-name">@<%= data.screen_name %></span>
</a>
