.tweet {
    padding: 10px 0;
    border-bottom: 1px solid #CCC;
    
    font-size: 82%;
}

.tweet:first-child {
    padding-top: 0;
}

.tweet:last-child {
    border-bottom: none;
}

.tweet .retweet {
    position: relative;
    margin: 0 0 5px;
    padding-left: 58px;
    font-size: 87%;
    height: 15px;
}

.tweet .retweet::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 28px;
    width: 20px;
    
    background: #77B255 url("retweet.svg") no-repeat 45% 50%;
    background-size: 75%;
    border-radius: 3px;
}

.tweet .bd {
    display: flex;
    margin: 5px 0 5px;
}

.tweet .bd .icon {
    width: 48px;
}

.tweet .bd .icon img {
    border-radius: 5px;
    width:  48px;
    height: 48px;
}

.tweet .bd .details {
    flex: 1;
    padding-left: 10px;
}

.tweet .bd .top {
    display: flex;
}

.tweet .bd .top .name {
    flex: 1 0 auto;
    display: flex;
    
    align-items: baseline;
}

.tweet .bd .top .name .real {
    font-weight: bold;
    margin-right: 5px;
}

.tweet .bd .top .name .user {
    font-size: 88%;
    color: #888;
}

.tweet .bd .top .time {
    flex: 0 1 auto;
    color: #9A9A9A;
}

.tweet .bd .text {
    margin-top: 10px;
}

.tweet .bd .images {
    margin-top: 10px;
}

.tweet .bd .images img {
    object-fit: cover;
    max-width: 100%;
    max-height: 200px;
    border: 1px solid #666;
    border-radius: 5px;
}
