html {
    height: 100%;
}

body {
    width: 100%;
    height: 100%;
    display: flex;
    font-family: "Segoe UI", Frutiger, "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue", Arial, sans-serif;
}

.views {
    flex: 1 1 auto;
    display: flex;
}

button.link {
    margin: 0;
    padding: 0;
    border: 0;
    background: transparent;
    font: inherit;
    line-height: normal;
    
    /* These values should match whatever links are set to */
    color: -webkit-link;
    text-decoration: underline;
}

/* Make sure keyboard users get visual feedback */
.text:hover,
.text:focus {}

.twitter-icon {
    width: 48px;
    height: 48px;
    border-radius: 5px;
}
