/*csslint adjoining-classes:false */

.child.nav {
    flex: 0 1 auto;
    display: flex;
    flex-direction: column;
    min-width: 150px;
    max-width: 200px;
    background: #191818;
    
    font-size: 14px;
}

.child.nav .hd {
    text-align: center;
    margin-bottom: 10px;
    padding: 10px 0;
}

.child.nav .twitter-icon {
    border: 4px solid #FFF;
    background-color: #FFF;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.25);
}

.child.nav .timelines {
    flex: 1;
}

.child.nav .pure-menu {
    border: none;
    background: transparent;
}

.child.nav .menu-item-divided {
    border-top: 1px solid #333;
}

.child.nav a {
    color: #999;
    border: none;
    padding: 0.6em 0 0.6em 0.6em;
}

.child.nav a:hover,
.child.nav a:focus {
   background: #333;
}

.child.nav .pure-menu-selected {
    background: #1F8DD6;
}

.child.nav .pure-menu-selected a {
    color: #FFF;
}

.child.nav .timeline a {
    padding-right: 1em;
}

.child.nav .timeline[data-updates]:after {
    content: attr(data-updates);
    position: absolute;
    top: 50%;
    right: 5px;
    min-width: 8px;
    height: 20px;
    line-height: 20px;
    margin-top: -11px;
    padding: 0 6px;
    color: #FFF;
    text-align: center;
    text-shadow: 0 1px rgba(0, 0, 0, 0.2);
    background: #1F8DD6;
    border: 0;
    border-radius: 11px;
}

.child.nav .pure-menu-selected[data-updates]:after {
    border: 1px solid #EEE;
}

.child.nav .options { }
