.yui3-app-view.oauth {
    display: flex;
    flex: 1 1 auto;
}

.content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1 1 auto;
}

.pin .pure-controls { margin-top: 20px; }
