.yui3-app-view.link {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.start {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

