/*csslint adjoining-classes:false */
.yui3-app-view.timeline {
    overflow-y: auto;
}

.yui3-app-view.timeline .tweets {
    margin: 0;
    padding: 0;
}

.yui3-app-view.timeline .tweets .tweet:nth-child(odd) {
    background: #EEE;
}
