/*csslint adjoining-classes:false */
.yui3-app-view.timeline {
    overflow-y: auto;
    flex: 1;
}

.yui3-app-view.timeline h2 {
    margin-left: 8px;
}

.yui3-app-view.timeline .tweets {
    margin: 0;
    padding: 0;
}

.yui3-app-view.timeline .tweets .tweet:nth-child(odd) {
    background: #EEE;
}
