.tweet {
    list-style-type: none;
    padding: 10px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.tweet [data-ui] {
    color: #000;
    text-decoration: none;
}

.tweet [data-ui]:hover {
    text-decoration: underline;
}

.tweet .username:hover {
    text-decoration: none;
}

.tweet .username:hover .real-name {
    text-decoration: underline;
}

.tweet .username .screen-name {
    color: #999;
    font-size: 85%;
}

.twitter-icon {
    margin-right: 10px;
}

.tweet .content {
    flex: 1;
}

.tweet .hd {
    display: flex;
}

.tweet .hd .source {
    flex: 1;
}

.tweet .hd .time {
    text-align: right;
}

.tweet .actions button {
    color: #CCC;
    text-decoration: none;
}

.tweet .actions button:hover {
    color: #333;
}
