.tweet {
    list-style-type: none;
    padding: 10px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.tweet .icon {
    width: 48px;
    height: 48px;
    border-radius: 5px;
    margin-right: 10px;
}

.tweet .content {
    flex: 1;
}

.tweet .hd {
    display: flex;
}

.tweet .hd .name {
    flex: 1;
}

.tweet .hd .time {
    text-align: right;
}

.tweet .actions button {
    -webkit-appearance: listitem;
}
