.tweet {
    list-style-type: none;
    padding: 10px;
}

.tweet:nth-child(odd) {
    background: #EEE;
}

.tweet .icon {
    width: 60px;
}

.tweet .hd .time {
    text-align: right;
}

.tweet .actions button {
    -webkit-appearance: none;
}
