html,
body,
.content {
    width: 100%;
    height: 100%;
    margin: 0;
    background: #DDD;
}

.content {
    display: flex;
    flex-direction: row;
}

.no-select {
    -webkit-touch-callout: none;
      -webkit-user-select: none;
              user-select: none;
}

.emoji {
    height: 1em;
    width: 1em;
    margin: 0 .05em 0 .1em;
    vertical-align: -0.1em;
}
